.card {
  // background-color: var(--surface);
  // background-color: red;
  border-radius: 16px;
  // padding: 2rem;
  // border: 1px solid var(--border);
  transition: all 0.4s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  &.clickable {
    cursor: pointer;
    
    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
      border-color: var(--primary);
    }
  }
  
  h2, h3 {
    margin-bottom: 1rem;
    color: var(--primary);
  }
  
  p {
    color: var(--text-muted);
    margin-bottom: 1rem;
  }
}