.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  // font-family: 'Poppins', sans-serif;

  
  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    background: linear-gradient(135deg, #9f3b0f 0%, #4facfe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
    line-height: 1.2;
    
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
  
  h2 {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
    font-family: 'Poppins', sans-serif;

    
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
  
  p {
    font-size: 1.1rem;
    color: #b0b0b0;
    line-height: 1.6;
    margin: 0;
    font-weight: 100;
    
    &.tagline {
      color: #6cf2c2;
      font-style: italic;
      margin-top: 0.5rem;
    }
  }
}